@{
    ViewData["Title"] = "Relatórios de Serviço de Campo";
}

<div class="d-flex">
    <h1 class="flex-grow-1">
        @ViewData["Title"]
    </h1>
</div>
<hr>

<form>

    <h2 class="mt-5">
        Publicador
    </h2>

    <div class="form-group mb-3">
        Selecione seu nome 
        <select class="form-select" name="" id="">
            <option value="">Publicadores</option>
        </select>
    </div>

    <h2 class="mt-5">
        Relatório
    </h2>

    <div class="form-group mb-3">
        Mes do Relatório
        <select class="form-select" name="" id="">
            <option value="">Mes</option>
        </select> 
    </div>
    
    <div class="col form-group">
        Publicações 
        <input class="form-control" type="text">
    </div>

    <div class="form-group mb-3">
        Videos 
        <input class="form-control" type="text">
    </div>

    <div class="form-group mb-3">
        Revisitas 
        <input class="form-control" type="text">
    </div>

    <div class="form-group mb-3">
        EstudosBibicos 
        <input class="form-control" type="text">
    </div>

    <div class="form-group mb-3">
        Horas 
        <input class="form-control" type="text">
    </div>

    <div class="form-group mb-3">
        Observacao 
        <input class="form-control" type="text">
    </div>  

</form>