@model List<Relatorio>

<div class="d-flex mb-5">
    <h1 class="flex-grow-1">
        Relatórios de Serviço de Campo
    </h1>
</div>
<hr>

<form asp-action="Criar" asp-controller="Relatorios" method="post" enctype="multipart/form-data">

    <div class="container">

        <div class="row">

            <div class="col-md-6 input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Publicador</label>
                <select class="form-select" name="publicador" 
                    asp-items='(SelectList) ViewData["listaDePublicadores"]'>
                    <option value="">Escolha seu nome</option>
                </select>
            </div>
            
            <div class="Col-md-6 input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Mês</span>
                <input type="text" class="form-control" placeholder="@ViewData["mes"]" disabled="" aria-label="Username" aria-describedby="basic-addon1">
            </div>

        </div>

        <div class="row">
            <div class="col-md-6 input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Publicações</span>
                <input class="form-control" name="publicacoes" type="number" placeholder="Total de publicações">
            </div>
            <div class="col-md-6 input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Vídeos</span>
                <input class="form-control" name="videos" type="number" placeholder="Total de vídeos">
            </div>
    
        </div>

        <div class="row">
            <div class="col-md-6 input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Estudos</span>
                <input class="form-control" name="estudosBiblicos" type="number" placeholder="Total de estudos">
            </div>
            <div class="col-md-6 input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Revisitas</span>
                <input class="form-control" name="revisitas" type="number" placeholder="Total de revisitas">
            </div>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Horas</span>
            <input class="form-control" name="horas" type="number" placeholder="Total de horas">
        </div>

        <div class="form-group mb-3">
            <label for="exampleTextarea" class="form-label mt-4">
                Observações: 
            </label>
            <textarea class="form-control" name="observacao" rows="3" style="height: 99px;"></textarea>
        </div>

        <div class="d-grid gap-2 mt-3 mb-5">
            <button type="submit" class="btn btn-primary btn-block"><em class="fas fa-arrow-right"></em>
            Enviar relatório</button>
        </div>

    </div>

</form>