@model List<Relatorio>

<div class="d-flex">
    <h1 class="flex-grow-1">
        Todos os Relatórios
    </h1>
</div>
<hr>
<Div>
    @foreach (var relatorio in Model)
    {
        <div>
            <h2> @relatorio.Publicador </h2>
            <p> @relatorio.Mes </p>            
            <p> @relatorio.Horas </p>
        </div>
    }
</Div>
