@model ResumoVM

<div class="d-flex">
    <h1 class="flex-grow-1">
        Resumo do Serviço
    </h1>
</div>
<hr>

//Exibir Total de Horas de
@Model.totalDeHoras

//Publicadores Batizados

//Publicadores Não Batizados

//Pioneiros Auxiliares

//Pioneiros Regulares