@model IEnumerable<Usuario>

@{
    ViewBag.Title = "Usuários"; 
}

<partial name='_CriarChick'/>

@if (Model.Any())
{
    <div class='collection'>
        @foreach (var item in Model)
        {        
            <a asp-action='Editar' asp-route-id='@item.Id' class='collection-item avatar'>            
                <div class='item-avatar'>
                    🤓
                </div>
                @item.Nome <br>
                <span class='grey-text'> @item.Email </span>
                
            </a>
        }
    </div>
}
else
{
    <p> 😱 Não há registros aqui </p>
}